fakeredis==2.16.0
fastapi==0.100.0
fastapi-utils==0.2.1
halo==0.0.31
httpx==0.24.1
lxml==4.9.3
pydantic==1.10.10
pyhumps==3.8.0
redis==4.6.0
rapidfuzz==3.1.1
requests==2.31.0
SQLAlchemy==1.4.41
SQLAlchemy-Utils==0.41.1
sqlmodel==0.0.8
uvicorn==0.22.0
watchfiles==0.19.0