click==8.1.8
fakeredis==2.27.0
fastapi==0.115.8
halo==0.0.31
httpx==0.28.1
lupa==2.4
lxml==5.3.1
pydantic==2.10.6
python-dateutil==2.9.0
rapidfuzz==3.12.1
redis==5.2.1
requests==2.32.3
SQLAlchemy==2.0.38
SQLAlchemy-Utils==0.41.2
sqlmodel==0.0.22
uvicorn==0.34.0
watchfiles==1.0.4