click==8.1.7
fakeredis==2.18.1
fastapi==0.103.1
fastapi-utils==0.2.1
halo==0.0.31
httpx==0.24.1
lupa==2.0
lxml==4.9.3
pydantic==1.10.10
python-dateutil==2.8.2
rapidfuzz==3.3.0
redis==5.0.0
requests==2.31.0
SQLAlchemy==1.4.41
SQLAlchemy-Utils==0.41.1
sqlmodel==0.0.8
uvicorn==0.23.2
watchfiles==0.20.0