annotated-types==0.7.0
anyio==4.8.0
appnope==0.1.4
asttokens==3.0.0
attrs==25.1.0
black==25.1.0
cachetools==5.5.2
cattrs==24.1.2
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
cheap_repr==0.5.2
click==8.1.8
colorama==0.4.6
colorclass==2.2.2
comm==0.2.2
coverage==7.6.12
cst-lsp==0.1.3
debugpy==1.8.13
decorator==5.2.1
deepdiff==8.3.0
distlib==0.3.9
dnspython==2.7.0
docopt==0.6.2
email_validator==2.2.0
executing==2.2.0
fakeredis==2.27.0
fastapi==0.115.11
fastapi-cli==0.0.7
filelock==3.17.0
h11==0.14.0
halo==0.0.31
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
isort==6.0.1
jedi==0.19.1
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.7.2
libcst==1.6.0
linkify-it-py==2.0.3
log-symbols==0.0.14
lsprotocol==2023.0.1
lupa==2.4
lxml==5.3.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mypy==1.15.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
ordered-set==4.1.0
orderly-set==5.3.0
orjson==3.10.15
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pip-upgrader==1.4.15
platformdirs==4.3.6
pluggy==1.5.0
pprintpp==0.4.0
prompt_toolkit==3.0.50
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.10.6
pydantic_core==2.27.2
pygls==1.3.1
Pygments==2.19.1
pyproject-api==1.9.0
pytest==8.3.5
pytest-black==0.6.0
pytest-clarity==1.0.1
pytest-cov==6.0.0
pytest-dotenv==0.5.2
pytest-mock==3.14.0
pytest-random-order==1.1.1
pytest-sugar==1.0.0
python-dateutil==2.9.0
python-dotenv==1.0.1
python-multipart==0.0.20
pyupgrade==3.19.1
PyYAML==6.0.2
pyzmq==26.2.1
RapidFuzz==3.12.2
redis==5.2.1
requests==2.32.3
rich==13.9.4
rich-toolkit==0.13.2
ruff==0.9.10
setuptools==75.8.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snoop==0.6.0
sortedcontainers==2.4.0
spinners==0.0.24
SQLAlchemy==2.0.38
SQLAlchemy-Utils==0.41.2
sqlmodel==0.0.24
stack-data==0.6.3
starlette==0.46.0
termcolor==2.5.0
terminaltables==3.1.10
textual==2.1.2
tokenize_rt==6.1.0
toml==0.10.2
tornado==6.4.2
tox==4.24.2
traitlets==5.14.3
trogon==0.6.0
typer==0.15.2
types-requests==2.32.0.20250306
typing_extensions==4.12.2
uc-micro-py==1.0.3
ujson==5.10.0
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
virtualenv==20.29.3
watchfiles==1.0.4
wcwidth==0.2.13
websockets==15.0.1
wheel==0.45.1
